<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
      <h2>Editar Proveedor</h2>
      <a class="btn btn-primary float-md-right"
      routerLink="/proveedores">Regresar al listado</a>
       <br>
      <form [formGroup]="proveedorForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
        <label for="nombre">Nombre</label>
        <i class="fa fa-check-circle check"
        *ngIf="proveedorForm.controls.nombre.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
        *ngIf="proveedorForm.controls.nombre.invalid &&
        proveedorForm.controls.nombre.touched"></i>
        <input type="text" class="form-control" id="nombre" formControlName="nombre"
        [(ngModel)]="proveedor.nombre">
        <p class="alert alert-danger"
        *ngIf="proveedorForm.controls.nombre.invalid &&
        proveedorForm.controls.nombre.touched">
        El campo de Nombre es obligatorio.
        </p>
        </div>
        <div class="form-group">
        <label for="cif">C.I.F.</label>
        <i class="fa fa-check-circle check"
        *ngIf="proveedorForm.controls.cif.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
        *ngIf="proveedorForm.controls.cif.invalid &&
        proveedorForm.controls.cif.touched"></i>
        <input type="text" class="form-control" id="cif" formControlName="cif"
        [(ngModel)]="proveedor.cif">
        <p class="alert alert-danger"
        *ngIf="proveedorForm.controls.cif.invalid &&
        proveedorForm.controls.cif.touched">
        El campo de CIF es obligatorio.
        </p>
        </div>
        <div class="form-group">
        <label for="direccion">Dirección</label>
        <i class="fa fa-check-circle check"
        *ngIf="proveedorForm.controls.direccion.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
        *ngIf="proveedorForm.controls.direccion.invalid &&
        proveedorForm.controls.direccion.touched"></i>
        <input type="text" class="form-control" id="direccion" formControlName="direccion"
        [(ngModel)]="proveedor.direccion">
        <p class="alert alert-danger"
        *ngIf="proveedorForm.controls.direccion.invalid &&
        proveedorForm.controls.direccion.touched">
        El campo de Dirección es obligatorio.
        </p>
        </div>
        <div class="form-group">
        <label for="cp">Código Postal</label>
        <i class="fa fa-check-circle check"
        *ngIf="proveedorForm.controls.cp.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
        *ngIf="proveedorForm.controls.cp.invalid &&
        proveedorForm.controls.cp.touched"></i>
        <input type="text" class="form-control" id="cp" formControlName="cp"
        [(ngModel)]="proveedor.cp">
        <p class="alert alert-danger"
        *ngIf="proveedorForm.controls.cp.invalid &&
        proveedorForm.controls.cp.touched">
        El campo de Código Postal es obligatorio.
        </p>
        </div>
        <div class="form-group">
        <label for="localidad">Localidad</label>
        <i class="fa fa-check-circle check"
        *ngIf="proveedorForm.controls.localidad.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
        *ngIf="proveedorForm.controls.localidad.invalid &&
        proveedorForm.controls.localidad.touched"></i>
        <input type="text" class="form-control" id="localidad" formControlName="localidad"
        [(ngModel)]="proveedor.localidad">
        <p class="alert alert-danger"
        *ngIf="proveedorForm.controls.localidad.invalid &&
        proveedorForm.controls.localidad.touched">
        El campo de Localidad es obligatorio.
        </p>
        </div>
        <div class="form-group">
          <label for="provincia">Provincia</label>
          <i class="fa fa-check-circle check"
          *ngIf="proveedorForm.controls.provincia.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
          *ngIf="proveedorForm.controls.provincia.invalid &&
          proveedorForm.controls.provincia.touched"></i>
          <input type="text" class="form-control" id="provincia" formControlName="provincia"
          [(ngModel)]="proveedor.provincia">
          <p class="alert alert-danger"
          *ngIf="proveedorForm.controls.provincia.invalid &&
          proveedorForm.controls.provincia.touched">
          El campo de Provincia es obligatorio.
          </p>   
         </div>
        <div class="form-group">
        <label for="telefono">Teléfono</label>
        <i class="fa fa-check-circle check"
        *ngIf="proveedorForm.controls.telefono.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
        *ngIf="proveedorForm.controls.telefono.invalid &&
        proveedorForm.controls.telefono.touched"></i>
        <input type="text" class="form-control" id="telefono" formControlName="telefono"
        [(ngModel)]="proveedor.telefono">
        <p class="alert alert-danger"
        *ngIf="proveedorForm.controls.telefono.invalid &&
        proveedorForm.controls.telefono.touched">
        El campo de Teléfono es obligatorio.
        </p>
        </div>
        <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <i class="fa fa-check-circle check"
          *ngIf="proveedorForm.controls.email.valid"></i>
          <i class="fa fa-exclamation-circle uncheck"
          *ngIf="proveedorForm.controls.email.invalid &&
          proveedorForm.controls.email.touched"></i>
          <input type="text" class="form-control" id="email" formControlName="email"
          [(ngModel)]="proveedor.email">
          <p class="alert alert-danger"
          *ngIf="proveedorForm.controls.email.invalid &&
          proveedorForm.controls.email.touched">
          El campo de Email es obligatorio.
          </p>
          </div>
        <div class="form-group">
        <label for="contacto">Persona de contacto</label>
        <i class="fa fa-check-circle check"
        *ngIf="proveedorForm.controls.contacto.valid"></i>
        <i class="fa fa-exclamation-circle uncheck"
        *ngIf="proveedorForm.controls.contacto.invalid &&
        proveedorForm.controls.contacto.touched"></i>
        <input type="text" class="form-control" id="contacto" formControlName="contacto"
        [(ngModel)]="proveedor.contacto">
        <p class="alert alert-danger"
        *ngIf="proveedorForm.controls.contacto.invalid &&
        proveedorForm.controls.contacto.touched">
        El campo de Persona de Contacto es obligatorio.
        </p>
        </div>
        <button type="submit"
        class="btn btn-primary"
        [disabled]="!proveedorForm.valid"
        >Guardar Cambios</button>
        <a class="btn btn-danger" routerLink="/proveedores">Cancelar</a>
        <p class="alert alert-danger" *ngIf="!proveedorForm.valid">
        Por favor complete todos los campos
        </p> 
      </form>
    </div>
  </div>
