<h3>Listado de Presupuestos</h3>
<a class="btn btn-primary float-md-right" href="/addpres">Añadir
nuevo presupuesto</a>
<br>
<table class="table table-bordered table-striped tabla" style="margin-top:
40px;">
 <thead>
 <tr class="filters">
 <th>ID</th>   
 <th>Proveedor</th>
 <th>Fecha</th>
 <th>Concepto</th>
 <th>Base</th>
 <th>IVA</th>
 <th>Total</th>
 </tr>
 </thead>
 <tbody>
 <tr *ngFor="let presupuestos of this.presupuestos">
 <td>{{ presupuestos.key }}</td>   
 <td>{{ presupuestos.proveedor }}</td>
 <td>{{ presupuestos.fecha }}</td>
 <td>{{ presupuestos.concepto }}</td>
 <td>{{ presupuestos.base }}</td>
 <td>{{ presupuestos.iva }}</td>
 <td>{{ presupuestos.total }}</td>
 <td>
<button type="button" class="btn btn-danger" (click)="eliminarPresupuesto(presupuestos)">Eliminar</button>
 </td>
 <td>
    <button type="button" class="btn btn-success" routerLink="/editpres/{{ presupuestos.key }}">Editar</button>
</td>
 </tr>
 </tbody>

</table>